<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testvc</key>
	<array>
		<dict>
			<key>xib</key>
			<string>DBXChainVC</string>
			<key>title</key>
			<string>测试Chain</string>
			<key>class</key>
			<string>DBXChainViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>测试Labels</string>
			<key>class</key>
			<string>DBXLabelsTestViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>测试DBXList</string>
			<key>class</key>
			<string>DBXTestHookADViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Debounce</string>
			<key>class</key>
			<string>DBXDebounceViewController</string>
		</dict>
		<dict>
			<key>storyboard</key>
			<string>Main</string>
			<key>title</key>
			<string>测试Extension</string>
			<key>class</key>
			<string>ViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Syring</string>
			<key>class</key>
			<string>DBXSyringViewController</string>
		</dict>
	</array>
</dict>
</plist>
